@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
}

.container {
  @apply max-w-6xl px-4 mx-auto;
}

.main-image-ratio {
  aspect-ratio: 22 / 10;
}

.car-main-infos li::marker {
  @apply text-[#cccccc];
}

.price-block-decor {
  @apply w-10/12 h-11 ml-auto grid place-items-center text-white bg-primary relative z-10 font-medium;
}

.price-block-decor::before {
  @apply absolute top-0 -left-[10px] w-8 h-full bg-primary -z-10;
  content: "";
  transform: skew(-14deg, 0deg);
}

/* Swiper */
.homeSwiper {
  @apply w-full aspect-[3.2] cursor-pointer;
}

.homeSwiper:hover .swiper-button-prev,
.homeSwiper:hover .swiper-button-next {
  @apply -translate-x-8 opacity-100 transition duration-500;
}

.homeSwiper:hover .swiper-button-next {
  @apply translate-x-8;
}

.homeSwiper .swiper-button-prev,
.homeSwiper .swiper-button-next {
  @apply text-white scale-[0.3] -translate-y-[26px] w-[90px] h-[90px] transition duration-500 
  bg-[rgba(102,102,102,0.354)] grid place-items-center translate-x-0 opacity-0
  rounded-full border-white border-4 hover:border-none hover:bg-secondary;
}

.homeSwiper .swiper-pagination-bullet {
  @apply w-2 h-2 rounded-full border-[2px] border-[#7a7e7a] opacity-60 bg-transparent;
}

.homeSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-white border-none;
}
